@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
}

.navbar {
  background-color: transparent !important;
}

.navbar-active {
  background-color: #2f6b4f !important;
}

nav {
  display: flex;
  box-shadow: none !important;
}
nav .nav-brand {
  display: flex;
  align-items: center;
}
nav .nav-brand h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
  margin-left: 10px;
}
nav .nav-menu {
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  margin: 0 10px 0 10px;
  color: #fff;
}

.hero {
  background-color: #2f6b4f;
  padding-top: 200px;
  padding-bottom: 300px;
  text-align: center;
  overflow: hidden !important;
  position: relative;
  z-index: 2;
}
.hero img {
  position: absolute;
  top: 0;
  left: 5%;
  width: auto;
}
.hero .hero-title {
  color: #fff;
  font-size: 64px;
  width: 70%;
  margin: auto;
}
.hero .hero-text {
  color: #d9d9d9;
  font-size: 18px;
  width: 60%;
  margin: auto !important;
  margin-top: 20px !important;
  margin-bottom: 50px !important;
}

@media (max-width: 520px) {
  .hero {
    padding-top: 80px;
  }
  .hero-title {
    font-size: 32px !important;
    width: 95% !important;
  }
  .hero-text {
    width: 95% !important;
    font-size: 14px !important;
  }
}
.btn {
  background-color: #fff;
  color: #2a2c3d;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  align-items: center;
  font-size: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 210px;
  gap: 5px;
}

.status {
  position: relative;
  z-index: 3;
  margin-bottom: 100px;
}
.status .stat-list {
  list-style: none;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  text-align: center;
  padding: 0;
}
.status .stat-list h4 {
  font-size: 32px;
  font-weight: 600;
  color: #2a2c3d;
}
.status .stat-list p {
  margin-top: 8px;
  font-size: 18px;
  color: #2a2c3d;
  opacity: 0.71;
}
.status img {
  width: 100%;
  margin-top: -14rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 695px) {
  .stat-list h4 {
    font-size: 24px !important;
  }
  .stat-list p {
    font-size: 14px !important;
  }
}
@media (max-width: 385px) {
  .stat-list h4 {
    font-size: 20px !important;
  }
  .stat-list p {
    font-size: 12px !important;
  }
}
.service {
  background-color: #f9f9f9;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.service P {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.71;
}
.service h2 {
  font-size: 32px;
  font-weight: 600;
}
.service .card-section {
  justify-content: center;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-service {
  background-color: #fff;
  box-shadow: 2px 6px 24px 0px rgba(42, 44, 61, 0.1607843137);
  width: 290px;
  text-align: center;
  padding: 32px 24px 32px 24px;
}
.card-service .card-title {
  font-size: 24px;
  color: #2a2c3d;
  font-weight: 600;
  margin-top: 1rem;
}
.card-service .card-desc {
  font-size: 18px;
  color: #2a2c3d;
  font-weight: 400;
  opacity: 0.71;
  margin-top: 1rem;
}

.card-project {
  width: 360px;
  color: #2a2c3d;
  margin-top: 40px;
}
.card-project .img-project {
  position: relative;
}
.card-project .img-project img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-project .card-title {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0 8px 0;
}
.card-project .card-desc {
  font-size: 18px;
  font-weight: 400;
}

.card-review {
  padding: 24px;
  width: 365px;
  color: #2a2c3d;
  border: 2px solid #2a2c3d;
}
.card-review .card-title-review {
  font-size: 24px;
  font-weight: 600;
}
.card-review .user-review {
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0 20px 0;
}
.card-review .user {
  display: flex;
}
.card-review .user img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-review .user .user-name {
  margin-left: 15px;
}
.card-review .user .user-name h5 {
  font-size: 18px;
  font-weight: 600;
}
.card-review .user .user-name p {
  font-size: 18px;
  font-weight: 400;
}

.project {
  padding-top: 100px;
  padding-bottom: 100px;
}
.project P {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.71;
}
.project h2 {
  font-size: 32px;
  font-weight: 600;
}
.project .card-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review {
  padding-top: 50px;
  padding-bottom: 100px;
}
.review P {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.71;
}
.review h2 {
  font-size: 32px;
  font-weight: 600;
}
.review .card-section {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact {
  margin-bottom: 130px;
  margin-top: 20px;
  width: 100%;
  background-color: #2f6b4f;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 60px 0 60px 0;
  overflow: hidden !important;
}
.contact img {
  position: absolute;
  top: 0;
  left: 0;
}
.contact .contact-content {
  width: 60%;
  margin: auto;
}
.contact .contact-content h2 {
  font-weight: 700;
  font-size: 48px;
}
.contact .contact-content p {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.71;
  margin: 16px 0 32px 0;
}

@media (max-width: 970px) {
  .contact-content {
    width: 90% !important;
  }
  .contact-content h2 {
    font-size: 36px !important;
  }
  .contact-content p {
    font-size: 16px !important;
  }
}
@media (max-width: 521px) {
  .contact-content {
    width: 100% !important;
  }
  .contact-content h2 {
    font-size: 28px !important;
  }
  .contact-content p {
    font-size: 14px !important;
  }
}
.footer {
  color: #2a2c3d;
  padding-bottom: 100px;
}
.footer .footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-wrapper .left-footer {
  width: 47%;
  margin-bottom: 3rem;
}
.footer .footer-wrapper .left-footer .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer-wrapper .left-footer .title h2 {
  font-weight: 600;
  font-size: 20px;
}
.footer .footer-wrapper .left-footer p {
  margin-top: 10px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.71;
}
.footer .footer-wrapper .left-footer .social-media {
  display: flex;
  gap: 24px;
}
.footer .footer-wrapper .right-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.footer .footer-wrapper .right-footer h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.footer .footer-wrapper .right-footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .footer-wrapper .right-footer li {
  list-style: none;
  opacity: 0.71;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 970px) {
  .left-footer {
    width: 100% !important;
  }
}
@media (max-width: 521px) {
  .right-footer {
    gap: 60px !important;
  }
}/*# sourceMappingURL=style.css.map */