.btn {
  background-color: #fff;
  color: #2a2c3d;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  align-items: center;
  font-size: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 210px;
  gap: 5px;
}
