.contact {
  margin-bottom: 130px;
  margin-top: 20px;
  width: 100%;
  background-color: #2f6b4f;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 60px 0 60px 0;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .contact-content {
    width: 60%;
    margin: auto;
    h2 {
      font-weight: 700;
      font-size: 48px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      opacity: 0.71;
      margin: 16px 0 32px 0;
    }
  }
}
