.project {
  padding-top: 100px;
  padding-bottom: 100px;
  P {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.71;
  }
  h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .project {
    h2 {
      font-size: 24px !important;
    }
    P {
      font-size: 14px;
    }
  }
}
